name: self-hosted

services:
    wg-easy:
        image: ghcr.io/wg-easy/wg-easy
        container_name: wg-easy
        environment:
            PORT: 51821
            ENABLE_PROMETHEUS_METRICS: true
            INSECURE: true
        volumes:
            - wg-easy_data:/etc/wireguard
            - /lib/modules:/lib/modules:ro
        ports:
            - 51820:51820/udp
            - 51821:51821/tcp
        cap_add:
            - NET_ADMIN
            - SYS_MODULE
        restart: unless-stopped
        networks:
            wg:
                ipv4_address: 10.42.42.42
                ipv6_address: fdcc:ad94:bacf:61a3::2a
        env_file:
            - ../.env
        sysctls:
            net.ipv4.ip_forward: 1
            net.ipv4.conf.all.src_valid_mark: 1
            net.ipv6.conf.all.disable_ipv6: 0
            net.ipv6.conf.all.forwarding: 1
            net.ipv6.conf.default.forwarding: 1

volumes:
    wg-easy_data:
        name: wg-easy_data
        driver: local

networks:
    wg:
        driver: bridge
        enable_ipv6: true
        ipam:
            driver: default
            config:
                - subnet: 10.42.42.0/24
                - subnet: fdcc:ad94:bacf:61a3::/64
